body {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #9dc0ef,
    #cfdff4,
    #ffffff,
    #cfdff4,
    #9dc0ef
  );
}

p {
  margin-bottom: 0.5rem;
}

header {
  padding-top: 30px;
}

h1 {
  color: #45a2ff;
  margin-bottom: 0;
  font-weight: 600;
}

h2 {
  margin-bottom: 20px;
}

legend {
  color: #62b1ff;
  text-shadow: 0 0.1em 2em rgba(255, 255, 255, 0.9);
  padding: 15px 0 0 0;
  font-weight: 600;
}

#app-container {
  margin: 15px auto;
  display: block;
  padding: 0 20px;
  line-height: 2;
  border-radius: 10px;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 0.9rem;
  height: auto;
}

/* #poem-generator-form {

} */

#poem-container {
  line-height: 2;
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin: auto;
  /*   background-color: rgba(255, 255, 255, 0.4);
 */
  font-size: 0.9rem;
}

#poem-generator-container {
  padding: 0 20px;
  line-height: 2;
  border-radius: 10px;
  width: auto;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 0.9rem;
}

button,
#submit-button {
  display: inline-block;
  padding: 0 10px 5px 10px;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #7bbbfa, #45a2ff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  opacity: 1;
  text-shadow: 0 0.1em 0.3em rgba(3, 127, 252, 0.8);
  cursor: pointer;
  margin: 10px 0 30px 0;
  line-height: 1.5;
}

#create-another-poem-button {
  display: none;
}

button:hover,
#submit-button:hover {
  transform: scale(1.05);
}

#poem-topic-box {
  min-width: 25%;
  max-width: 100%;
  line-height: normal;
}

#typewriter {
  line-height: 35px;
  height: 42px;
  color: #45a2ff;
  font-size: 2.5rem;
  font-weight: 600;
}

input[type="radio"] {
  appearance: none;
  line-height: 1.8;
}

input[type="radio"]::before {
  /* A pseudo-element is created before the radio button */
  content: "";
  /* The pseudo-element has a circular shape */
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* The pseudo-element has a background color and a border color */
  background-color: rgb(255, 255, 255);
  border: 2px solid #9dc0ef;
}

input[type="radio"]:checked::before {
  /* When the radio button is checked, the background color and the border color are changed */
  background-color: rgb(77, 146, 237);
  border-color: #9dc0ef;
}

footer {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  padding: 0 0 2rem 0;
  font-size: 0.9rem;
}

/* footer a:hover {
  transform: scale(1.05);
  filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(190deg)
    brightness(90%);
} */

footer a {
  display: inline-block;
}

footer a:hover {
  transform: scale(1.05);
  filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(190deg)
    brightness(90%);
  padding-left: 0.15rem;
}

footer .sara {
  flex: 46%;
  padding-bottom: 0.1rem;
}

footer .gitbub,
footer .netlify {
  flex: 27%;
}

.group {
  padding-left: 10px;
}
