body {
  background-image: linear-gradient(
    to right,
    #9dc0ef,
    #cfdff4,
    #ffffff,
    #cfdff4,
    #9dc0ef
  );
}

p {
  margin-bottom: 0.5rem;
}

header {
  padding-top: 10px;
}

h1 {
  color: #45a2ff;
  margin-bottom: 0;
  font-weight: 600;
}

legend {
  color: #62b1ff;
  text-shadow: 0 0.1em 2em rgba(255, 255, 255, 0.9);
  padding: 5px 0 0 0;
  font-weight: 600;
  margin-bottom: 3px;
}

fieldset {
  display: block; /* Ensure each fieldset takes up the full width */
  margin: 10px auto; /* Add margin between fieldsets and center them horizontally */
  padding: 5px 25px 0;
  font-size: 1rem;
  text-align: left; /* Align text within each fieldset to the left */
}

.more-space-in-between {
  margin-left: 10px;
}

.labels {
  font-weight: 500;
  text-decoration: underline;
  margin-left: 10px;
}

.hidden {
  display: none;
}

#app-container {
  margin: 15px auto;
  display: block;
  padding: 0 20px;
  text-align: center;
  font-size: 0.9rem;
  height: auto;
}
#poem-container {
  border-radius: 12px;
  margin: 15px auto;
  display: block;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 25px 0;
  text-align: center;
}

#poem-generator-container {
  padding: 0 20px;
  border-radius: 10px;
  width: auto;
  margin: 15px auto;
  text-align: center;
  font-size: 0.9rem;
}

button,
#submit-button {
  display: inline-block;
  padding: 0 10px 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #7bbbfa, #45a2ff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  opacity: 1;
  text-shadow: 0 0.1em 0.3em rgba(3, 127, 252, 0.8);
  cursor: pointer;
  line-height: 1.5;
}

#reload-button {
  display: none;
  margin-bottom: 25px;
}

button:hover,
#submit-button:hover {
  transform: scale(1.05);
}

#waiting-message {
  padding: 25px;
}

#poem-topic-box {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* This ensures that padding and borders are included in the total width and height */
  /* resize: none; */ /* Optional: This disables the textarea resize handle */
  margin-bottom: 10px;
  /*   text-align: center;
 */
}

#inner-form-element {
  display: inline-block; /* Make the wrapper behave like an inline element */
  text-align: left; /* Align text within the wrapper to the left */
  font-size: 1rem;
  padding: 5px 25px 0;
  margin: 10px 50px 0;
  text-align: center;
}

h4 {
  font-size: medium;
}

#typewriter {
  line-height: 15px;
  height: 42px;
  color: #45a2ff;
  font-size: 2.5rem;
  font-weight: 600;
}

#author-signature {
  text-align: center;
  padding: 0 25px 5px;
  margin: 0 50px 30px;
  font-size: 1rem;
}
#author-name {
  font-style: oblique;
}

#default-value-message {
  column-count: 1; /* Set the initial number of columns */
  column-gap: 20px; /* Set the gap between columns */
  font-size: small;
  text-align: left;
  padding: 25px 40px;
}

footer {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  padding: 0.7rem 0 2rem 0;
  font-size: 0.9rem;
}

footer a {
  display: inline-block;
}

footer a:hover {
  transform: scale(1.05);
  filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(190deg)
    brightness(90%);
  padding-left: 0.15rem;
}

footer .sara {
  flex: 46%;
  padding-bottom: 0.1rem;
}

footer .gitbub,
footer .netlify {
  flex: 27%;
}

.group {
  padding-left: 10px;
}

@media screen and (min-width: 300px) {
  #default-value-message {
    column-count: 1; /* Set the number of columns for larger devices */
  }
}

@media screen and (min-width: 600px) {
  #default-value-message {
    column-count: 2; /* Set the number of columns for larger devices */
  }
}
